
<!-- #region Bento  -->
<!-- <div class="container my-2 border border-danger " >
    <div class="row" >
        <div class="col-md-4 " >
            <div class="bento-item bento-tall">
                <div  class="container">
                    <legend>ultimos cursos usados </legend>
                    <div class="row border border-danger">
                        <div class="col-1 justify-content-start border border-danger">
                            1
                        </div>
                        <div class="col">
                            
                            <div class="row">
                                <div class="text-wrap">
                                    Nombre: <p><small class="text-muted" > e tiene interes</small></p>

                                </div>
                            </div>
                            <div class="row">
                                <small class="text-muted">Profesor:</small>  hernandez
                            </div>
                            <div class="row">
                                periodo
                            </div>
                            <div class="row">
                                Modalidades
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row border border-danger">

                <div class=" col-lg-6 col-md-8 pb-3">
                    <div class="bento-i bento-item">
                        1
                        
                    </div>
                </div>
                <div class=" col-lg-6 co-md-4  pb-3">
                    <div class="bento-item bento-i ">
                       2
                    </div>
                </div>

            </div>
            <div class="row  border border-danger">
                    <div class="col-12">
                        <div class="bento-i bento-item" >
                            3

                        </div>
                    </div>
            </div>
            <div class="row border border-danger ">

                <div class=" col-lg-6 col-md-8 pt-3">
                    <div class="bento-i bento-item ">
                        4
                        
                    </div>
                </div>
                <div class=" col-lg-6 co-md-4 pt-3 ">
                    <div class="bento-item bento-i ">
                       5
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->
<!-- #endregion -->


<!-- <div class="container my-2 border border-danger">
    <div class="row">
      
      <div class="col-md-4 ">
        <div class="bento-item bento-tall p-3">
          <legend class="fw-bold mb-3">Últimos cursos usados</legend>
          <div class="row border border-danger p-2 mb-3">
            <div class="col-1 d-flex align-items-center justify-content-start border border-danger p-2">
              1
            </div>
            <div class="col">
              <div class="row">
                <div class="text-wrap">
                  <strong>Nombre:</strong>
                  <p><small class="text-muted">Tiene interés</small></p>
                </div>
              </div>
              <div class="row">
                <small class="text-muted"><strong>Profesor:</strong> Hernández</small>
              </div>
              <div class="row">
                <small><strong>Periodo:</strong> 2023</small>
              </div>
              <div class="row">
                <small><strong>Modalidades:</strong> Online</small>
              </div>
            </div>
          </div>
          
        </div>
      </div>
  
      
      <div class="col-md-8">
        
        <div class="row mb-3">
          <div class="col-lg-6 col-md-8 pb-3">
            <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
              Actividad 1
            </div>
          </div>
          <div class="col-lg-6 col-md-4 pb-3">
            <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
              Actividad 2
            </div>
          </div>
        </div>
  
        
        <div class="row mb-3">
          <div class="col-12">
            <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
              Actividad 3
            </div>
          </div>
        </div>
  
        
        <div class="row">
          <div class="col-lg-6 col-md-8 pt-3">
            <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
              Actividad 4
            </div>
          </div>
          <div class="col-lg-6 col-md-4 pt-3">
            <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
              Actividad 5
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->


<div class="container my-3 border border-danger" style="min-height: 95vh;">
  <div class="row">
    <div class="col-4 border border-danger">
      <div class="bento-item bento-tall p-3">
        <legend class="fw-bold mb-3">Últimos cursos usados</legend>
        <div class="row border border-danger p-2 mb-3">
          <div class="col-1 d-flex align-items-center justify-content-start border border-danger p-2">
            1
          </div>
          <div class="col">
            <div class="row">
              <div class="text-wrap">
                <strong>Nombre:</strong>
                <p><small class="text-muted">Tiene interés</small></p>
              </div>
            </div>
            <div class="row">
              <small class="text-muted"><strong>Profesor:</strong> Hernández</small>
            </div>
            <div class="row">
              <small><strong>Periodo:</strong> 2023</small>
            </div>
            <div class="row">
              <small><strong>Modalidades:</strong> Online</small>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="col-8">
      <div class="row mb-3">
        <div class="col-lg-6 col-md-8 pb-3">
          <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
            Actividad 1
          </div>
        </div>
        <div class="col-lg-6 col-md-4 pb-3">
          <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
            Actividad 2
          </div>
        </div>
      </div>

      
      <div class="row mb-3">
        <div class="col-12">
          <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
            Actividad 3
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col-lg-6 col-md-8 pt-3">
          <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
            Actividad 4
          </div>
        </div>
        <div class="col-lg-6 col-md-4 pt-3">
          <div class="bento-item bento-i p-3 d-flex align-items-center justify-content-center">
            Actividad 5
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
