<section class="container">

    <mat-card class="card1" id="cont1">
        <mat-card-header class="header">
            <mat-card-title >Unidades de aprendizaje</mat-card-title>
            <mat-card-subtitle>Ultimas interacciones</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> 
            <section class="parent" >
                <div class="item1" >1</div>
                <div class="item2" >Nombre</div>
                <div class="item3" >Profesor</div>
                <div class="item4" >Mixta </div>
                <!-- <div class="item4" >5</div>
                <div class="item4" >6</div> -->
            </section>
        </mat-card-content>
    </mat-card>

    <mat-card id="cont2">
        <mat-card-header>
            <mat-card-title> Agregar carpeta </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card id="cont3">
        <mat-card-header>
            <mat-card-title>
                Agregar UAS
            </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card id="cont4">
        <mat-card-header>
            <mat-card-title>
                Replicas
            </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card id="cont5">
        <mat-card-header>
            <mat-card-title>
                Importar de siase
            </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card id="cont6">
        <mat-card-header>
            <mat-card-title>
                Compartidas
            </mat-card-title>
        </mat-card-header>
    </mat-card>




    <!-- <div id="cont2">Agregar Carpeta</div> -->
    <!-- <div id="cont3">Agregar UAs</div>
    <div id="cont4">Replicas</div>
    <div id="cont5">Importar de siase</div>
    <div id="cont6">Compartidas</div> -->

</section>