

  <!-- <mat-toolbar class="tool">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    Mis aplicaciones
    <button mat-icon-button (click)="slide()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-toolbar> -->
  
  <mat-drawer-container class="example-container"  >
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div>
        <ul>
          <button mat-icon-button color="primary"(click)="CambiarComponente('Principal')">
            <mat-icon>home</mat-icon>
          </button>
        </ul>
        <ul>
          <a >
            <button mat-raised-button (click)="CambiarComponente('Filtros'); drawer.toggle() " color="primary">Filtros</button>
        </a>
        </ul>
        <ul>
          <button mat-raised-button color="primary"(click)="CambiarComponente('bento'); drawer.toggle()">bento</button>

        </ul>
        <ul>
          <button mat-raised-button color="primary"(click)="CambiarComponente('Admin'); drawer.toggle()">Admin</button>
        </ul>
        <ul>
          <button mat-raised-button color="primary"(click)="CambiarComponente('Login'); drawer.toggle()">Login</button>
        </ul>
        
      </div>


    </mat-drawer>
    <div class="fixed-bottom d-inline-block  me-3 mb-3" >

      <button *ngIf="isRaised" class="btn" type="button" mat-stroked-button color="accent" (click)="togglestylebtn(); drawer.toggle()">
        !!
        <mat-icon aria-hidden="false" fontIcon="tune" > </mat-icon>
      </button>
      
      <button *ngIf="!isRaised" class="btn" type="button" mat-raised-button color="accent" (click)="togglestylebtn(); drawer.toggle()">
        !!
        <mat-icon aria-hidden="false" fontIcon="close" > </mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>

  
  </mat-drawer-container>






